.form-title {
  color: rgb(68, 73, 85);
  font-family: Epilogue , sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  height: 36px;
  left: 131px;
  line-height: 29px;
  position: absolute;
  top: 80px;
  width: 355px;
}

form {
  height: 734px;
  left: 129px;
  position: absolute;
  top: 170px;
  width: 398px;
}

form label {
  color: rgb(61, 73, 92);
  display: block;
  font-family: Verdana , Geneva , Tahoma , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

form label:nth-child( 2 ) {
  margin-top: 20px;
}

form label:nth-child( 3 ) {
  margin-top: 42px;
}

.card-name-input {
  align-items: center;
  background-color: white;
  border: none;
  border-bottom: 1px solid rgb(61, 73, 92);
  color: rgb(68, 73, 85);
  display: flex;
  flex-direction: row;
  font-family: Verdana , Geneva , Tahoma , sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 37px;
  margin-top: 10px;
  padding: 8px;
  width: 355px;
}

.card-description-input {
  align-items: center;
  background-color: white;
  border: none;
  border-bottom: 1px solid rgb(61, 73, 92);
  color: rgb(68, 73, 85);
  display: flex;
  flex-direction: row;
  font-family: Verdana , Geneva , Tahoma , sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
  padding: 8px;
  resize: vertical;
  width: 355px;
}

.attr-container {
  align-items: center;
  display: flex;
  justify-items: center;
  margin-top: 10px;
  width: 355px;
}

.attr-container span {
  display: block;
  margin-right: 22px;
  width: 55px;
}

.attr-container input {
  background-color: white;
  border: 1px solid rgb(41, 49, 61);
  border-radius: 2px;
  box-sizing: border-box;
  height: 37px;
  text-align: center;
  width: 275px;
}

.card-image-container {
  align-items: center;
  display: flex;
  justify-items: center;
  margin-top: 42px;
  width: 355px;
}

.card-image-container span {
  display: block;
  margin-right: 22px;
  width: 55px;
}

.card-image-container input {
  background-color: white;
  border: 1px solid rgb(41, 49, 61);
  border-radius: 0 2px 2px 0;
  box-sizing: border-box;
  height: 37px;
  padding: 8px;
  width: 229px;
}

.icon-image {
  background-color: rgba(2, 48, 49, 1);
  border-radius: 2px 0 0 2px;
  color: white;
  height: 37px;
  padding: 4.5px;
  width: 46px;
}

.card-rare-input {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  width: 355px;
}

.card-rare-input select {
  align-items: center;
  appearance: none;
  background-color: white;
  border: none;
  border-bottom: 1px solid rgb(61, 73, 92);
  color: rgb(68, 73, 85);
  display: flex;
  flex-direction: row;
  font-family: Verdana , Geneva , Tahoma , sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  margin-top: 10px;
  padding: 8px;
  width: 355px;
}

.arrow-down {
  border: solid rgba(61, 73, 92, 1);
  border-width: 0 2px 2px 0;
  bottom: -40px;
  display: inline-block;
  left: 260px;
  padding: 3.5px;
  pointer-events: none;
  position: relative;
  transform: rotate(45deg);
}

.card-trunfo-input {
  margin-top: 25px;
  width: 355px;
}

.card-trunfo-input input {
  margin-right: 8px;
}

.save-btn {
  background-color: rgba(0, 59, 229, 1);
  border: none;
  color: white;
  cursor: pointer;
  font-family: Verdana , Geneva , Tahoma , sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  line-height: 24px;
  margin-top: 25px;
  padding: 8px 32px;
  width: 115px;
}

.save-btn:disabled {
  cursor: default;
  opacity: 0.5;
}

.error {
  float: right;
  left: -20px;
  position: relative;
  top: -27px;
  width: fit-content;
}

.error-total {
  float: right;
  left: 175px;
  position: relative;
  top: 11px;
  width: fit-content;
}

.error-icon {
  color: red;
  font-size: 20px;
}

.check-icon {
  color: rgba(3, 107, 82, 1);
  font-size: 20px;
}

.total-points {
  float: right;
  left: -26px;
  margin-top: 11px;
  position: relative;
  width: 175px;
}

.has-trunfo {
  margin-top: 25px;
  text-align: center;
  width: 355px;
}
